        <div class="admin-panel__content">
            <div class="jumbotron text-center">
                <h1><i class="fa fa-key"></i> Admin Panel</h1>
                <br />
                <p>You can control Products, Users and Reviews from here...</p>
            </div>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="../template/assets/js/jquery.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="../template/assets/js/bootstrap.min.js"></script>
    </body>
</html>